<h1>All Contacts</h1>

<ul>
<% @contacts.each do |contact| %>
  <li><%= contact.first_name %> 
      <%= contact.last_name %>
      <%= contact.email %>
      <%= contact.note %>
      <a href="/contacts/<%= contact.id %>">View Profile</a>
      <a href="/contacts/<%= contact.id %>/edit">Edit Profile</a>

  </li>
<% end %>
</ul>
